<div class="sheet-section sheet-section-Grundwerte">
	<!--<select namer20="attr_gm_roll_opt" class="sheet-gm-roll-selector">
		<option valuer20=" ">Offen würfeln</option>
		<option valuer20="/w GM ">Nur zu Meister würfeln</option>
	</select>-->

	<table>
		<tr>
			<th>Eigenschaft</th>
			<th>Start</th>
			<th>Mod</th>
			<th>Aktuell</th>
		</tr>
		{{#each data.attributes as |attr key|}}
		<tr>
				<td><button class="attribute-key" type="roll" name="{{key}}"> <span>{{key}}</span></button></td>
				<td><input type="number" style="width: 4em" name="data.attributes.{{key}}.start" value="{{attr.start}}"></td>
				<td><input type="number" style="width: 4em" name="data.attributes.{{key}}.mod" value="{{attr.mod}}"></td>
				<td><input type="number" style="width: 4em" name="data.attributes.{{key}}.current" value="{{attr.current}}"></td>
		</tr>
		{{/each}}
		<tr>
			<td>Geschwindigkeit</td>
			<td><input type="number" style="width: 4em" name="" value=""></td>
			<td><input type="number" style="width: 4em" name="" value=""></td>
			<td><input type="number" style="width: 4em" name="data.stats.speed.value" value="{{data.stats.speed.value}}"></td>
			<td>&nbsp;</td>
		</tr>
	
	</table>
	<table>
		<th></th>
		<th>Max</th>
		<th>Aktuell</th>
		<tr>
			<td>Lebensenergie</td>
			<td><input type="number" style="width: 4em" name="data.stats.health.max" value="{{data.stats.health.max}}"></td>
			<td><input type="number" style="width: 4em" name="data.stats.health.value" value="{{data.stats.health.value}}"></td>

		</tr>
		<tr>
			<td>Ausdauer</td>
			<td><input type="number" style="width: 4em" name="data.stats.endurance.max" value="{{data.stats.endurance.max}}"></td>
			<td><input type="number" style="width: 4em" name="data.stats.endurance.value" value="{{data.stats.endurance.value}}"></td>
		</tr>
		<tr>
			<td>Astralenergie</td>
			<td><input type="number" style="width: 4em" name="data.stats.astral.max" value="{{data.stats.astral.max}}"></td>
			<td><input type="number" style="width: 4em" name="data.stats.astral.value" value="{{data.stats.astral.value}}"></td>
		</tr>
		<tr>
			<td>Karmaenergie</td>		
			<td><input type="number" style="width: 4em" name="data.stats.karmal.max" value="{{data.stats.karmal.max}}"></td>
			<td><input type="number" style="width: 4em" name="data.stats.karmal.value" value="{{data.stats.karmal.value}}"></td>
		</tr>
		<tr>
			<td>Magieresistenz</td>
			<td></td>
			<td><input type="number" style="width: 4em" name="data.stats.magic_resistance.value" value="{{data.stats.magic_resistance.value}}"></td>
		</tr>
		<tr>
			<td>INI-Basiswert</td>
			<td></td>
			<td><input type="number" style="width: 4em" name="data.stats.INI.value" value="{{data.stats.INI.value}}"></td>
		</tr>
		<tr>
			<td>AT-Basiswert</td>
			<td></td>
			<td><input type="number" style="width: 4em" name="data.stats.AT.value" value="{{data.stats.AT.value}}"></td>
		</tr>
		<tr>
			<td>PA-Basiswert</td>
			<td></td>
			<td><input type="number" style="width: 4em" name="data.stats.PA.value" value="{{data.stats.PA.value}}"></td>
		</tr>
		<tr>
			<td>FK-Basiswert</td>
			<td></td>
			<td><input type="number" style="width: 4em" name="data.stats.FK.value" value="{{data.stats.FK.value}}"></td>
		</tr>
		<tr>
			<td>Wundschwelle</td>
			<td></td>
			<td><input type="number" style="width: 4em" name="data.stats.WS.value" value="{{data.stats.WS.value}}"></td>
		</tr>
	</table>
</div>