<div class="sheet-section sheet-section-Notizen">
	<!--
	<input type="radio" namer20="attr_notiz_tab" class="sheet-tab sheet-tab81" valuer20="81" title="Notizblock" checked="checked">
	<span class="sheet-tab sheet-tab81">Notizblock</span>
	<input type="radio" namer20="attr_notiz_tab" class="sheet-tab sheet-tab82" valuer20="82" title="Personen">
	<span class="sheet-tab sheet-tab82">Personen</span>
	<input type="radio" namer20="attr_notiz_tab" class="sheet-tab sheet-tab83" valuer20="83" title="Orte">
	<span class="sheet-tab sheet-tab83">Orte</span>
-->
	<div class="sheet-section sheet-section-Notizblock" align="center">
		<textarea width="80%" style="height:800px" namer20="attr_notes"></textarea>
	</div>

	<div class="sheet-section sheet-section-Personen" align="center">
		<fieldset class="repeating_notes">
			<div class="sheet-table">
				<span class="sheet-table-data sheet-center sheet-small-label">
			<input type="text" namer20="attr_Personenname"><br>Name</span>

				<span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_PersonenAlter"><br>Alter</span>

				<span class="sheet-table-data sheet-center sheet-small-label">
			<input type="text" namer20="attr_PersonRasseProfession"><br>Rasse/Profession</span>
			</div>

			<b>Bemerkungen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
			<input type="checkbox" class="sheet-desc-show" namer20="attr_description-show" valuer20="1" style="opacity:0;width: 60px;height: 16px;position: relative;top: 5px;left: 6px;margin: -32px;cursor: pointer;z-index: 1;" checked><span></span>
			<textarea class="sheet-desc" namer20="attr_description"></textarea>
			<hr>
		</fieldset>
	</div>

	<div class="sheet-section sheet-section-Orte" align="center">
		<fieldset class="repeating_ortnotes">
			<div class="sheet-table">
				<span class="sheet-table-data sheet-center sheet-small-label">
			<input type="text" namer20="attr_Ortsname"><br>Ort</span>
			</div>

			<b>Bemerkungen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
			<input type="checkbox" class="sheet-desc-show" namer20="attr_description-show" valuer20="1" style="opacity:0;width: 60px;height: 16px;position: relative;top: 5px;left: 6px;margin: -32px;cursor: pointer;z-index: 1;" checked><span></span>
			<textarea class="sheet-desc" namer20="attr_description"></textarea>
			<hr>
		</fieldset>
	</div>
</div>