<div class="sheet-section sheet-section-Fertigkeiten">
	<div class="skills" align="center">
		<table>
			<tr>
				<td colspan="2">
					<b style="display: inline-block; width: 15em; font-size:25">Vorteile</b>
					<fieldset class="repeating_Vorteile">
						<input type="text" namer20="attr_Vorteil" style="width: 45em;">
						<input type="text" namer20="attr_Vorteilswert" style="width: 5em;">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<b style="display: inline-block; width: 15em; font-size:25">Nachteile</b>
					<fieldset class="repeating_Nachteile">
						<input type="text" namer20="attr__Nachteil" style="width: 45em;">
						<input type="text" namer20="attr_Nachteilwert" style="width: 5em;">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<b style="display: inline-block; width: 15em; font-size:25">Sonderfertigkeiten</b>
					<fieldset class="repeating_Sonderfertigkeiten">
						<input type="text" namer20="attr__Sonderfertigkeiten" style="width: 50em;">
				</td>
			</tr>
		</table>
	</div>
</div>