<div class="sheet-section sheet-section-Wissen">
		<!--<select namer20="attr_gm_roll_opt" class="sheet-gm-roll-selector">
			<option valuer20=" ">Offen würfeln</option>
			<option valuer20="/w GM ">Nur zu Meister würfeln</option>
		</select>-->
		{{#each data.owned.talents.knowledge as |talent id|}}
		<li class="item talent flexrow" data-item-id="{{talent._id}}">
				<button class="talent-key" type="roll" name="{{talent._id}}" valuer20="ROLL_TEMPLATE"> <span>{{talent.name}}</span></button>
				<input type="number" style="width: 4em" name="data.owned.{{talent._id}}.data.value" value="{{talent.data.value}}">
		</li>
		{{/each}}
	</div>