<div class="sheet-section sheet-section-Meta">
		<!--<select namer20="attr_gm_roll_opt" class="sheet-gm-roll-selector">
			<option valuer20=" ">Offen würfeln</option>
			<option valuer20="/w GM ">Nur zu Meister würfeln</option>
		</select>-->
		<table>
			<tr>
				<th style="width: 23em">Talent</th>
				<th style="width: 15.25em;">Eigenschaften</th>
				<th style="width: 3.25em;">TaW</th>
				<th style="width: 3em;">Probe</th>
			</tr>
		</table>
		<fieldset class="repeating_Metatalente201904">
			<span style="display: inline-block; width: 23em">
				<!--<select namer20="attr_Name_Metatalent" class="atype" style="width: 10em;">
					<option valuer20="ansitzjagd">Ansitzjagd</option>
					<option valuer20="hetzjagd">Hetzjagd</option>
					<option valuer20="kraeutersuchen">Kräutersuchen</option>
					<option valuer20="nahrungsammeln">Nahrungsammeln</option>
					<option valuer20="pirschjagd">Pirschjagd</option>
					<option valuer20="speerfischen">Speerfischen</option>
					<option valuer20="tierfallenstellen">Tierfallenstellen</option>
					<option valuer20="wachehalten">Wachehalten</option>
					<option valuer20="nothing" selected>Eigenes</option>
				</select>-->
				/ 
				<input type="text" namer20="attr_Name_Metatalent_Eigen" style="width: 10em;"/>
			</span><span style="display: inline-block; width: 15.25em">
				<!--<select namer20="attr_Eigenschaft1" class="sheet-talent-eigenschaft">
					<option valuer20="nothing">---</option>
					<option valuer20="mu">MU</option>
					<option valuer20="kl">KL</option>
					<option valuer20="in">IN</option>
					<option valuer20="ch">CH</option>
					<option valuer20="ff">FF</option>
					<option valuer20="ge">GE</option>
					<option valuer20="ko">KO</option>
					<option valuer20="kk">KK</option>
				</select>-->
				<!--<select namer20="attr_Eigenschaft2" class="sheet-talent-eigenschaft">
					<option valuer20="nothing">---</option>
					<option valuer20="mu">MU</option>
					<option valuer20="kl">KL</option>
					<option valuer20="in">IN</option>
					<option valuer20="ch">CH</option>
					<option valuer20="ff">FF</option>
					<option valuer20="ge">GE</option>
					<option valuer20="ko">KO</option>
					<option valuer20="kk">KK</option>
				</select>-->
				<!--<select namer20="attr_Eigenschaft3" class="sheet-talent-eigenschaft">
					<option valuer20="nothing">---</option>
					<option valuer20="mu">MU</option>
					<option valuer20="kl">KL</option>
					<option valuer20="in">IN</option>
					<option valuer20="ch">CH</option>
					<option valuer20="ff">FF</option>
					<option valuer20="ge">GE</option>
					<option valuer20="ko">KO</option>
					<option valuer20="kk">KK</option>
				</select>-->
			</span><span style="display: inline-block; width: 3.25em">
				<input type="number" namer20="attr_TaW" style="width: 3em;" valuer20="0">
				<input type="hidden" namer20="attr_hiddenEigenschaft1" valuer20="0">
				<input type="hidden" namer20="attr_hiddenEigenschaft2" valuer20="0">
				<input type="hidden" namer20="attr_hiddenEigenschaft3" valuer20="0">
				<input type="hidden" namer20="attr_Name_Metatalent_Anzeige" valuer20="Eigenes Metatalent">
			</span><span style="display: inline-block; width: 3em">
				<button type="roll" valuer20="ROLL_TEMPLATE"></button>-->
			</span>
		</fieldset>
	</div>