<div class="sheet-section sheet-section-Kampf">
		<div style="text-align:left;">
			<div style="display:inline-block">
				<div class="sheet-talent-cell sheet-talent-name sheet-talent-head">Kampftechnik</div>
				<div class="sheet-talent-cell sheet-talent-stf sheet-talent-head">Stf.</div>
				<div class="sheet-talent-cell sheet-talent-ebe sheet-talent-head">eBE</div>
				<div class="sheet-talent-cell sheet-talent-spez sheet-talent-head">Spezialisierung</div>
				<div class="sheet-talent-cell sheet-talent-at sheet-talent-head">AT</div>
				<div class="sheet-talent-cell sheet-talent-pa sheet-talent-head">PA</div>
				<div class="sheet-talent-cell sheet-talent-taw sheet-talent-head">TaW</div>
			</div>
			<input class="sheet-talent-anderthalbhander sheet-default-hide" type="checkbox" namer20="attr_talent_anderthalbhander" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Anderthalbhänder</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_Anderthalbhander">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_Anderthalbhander">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_Anderthalbhander">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_Anderthalbhander" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-armbrust sheet-default-hide" type="checkbox" namer20="attr_talent_armbrust" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Armbrust</div>
				<div class="sheet-talent-cell sheet-talent-stf">C</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−5</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_armbrust">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_armbrust" disabled="disabled" valuer20="FKBasis} + TaW_armbrust">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_armbrust" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-belagerungswaffen sheet-default-hide" type="checkbox" namer20="attr_talent_belagerungswaffen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Belagerungswaffen</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">-</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_belagerungswaffen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_belagerungswaffen" disabled="disabled" valuer20="FKBasis} + TaW_belagerungswaffen">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_belagerungswaffen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-blasrohr sheet-default-hide" type="checkbox" namer20="attr_talent_blasrohr" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Blasrohr</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−5</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_blasrohr">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_blasrohr" disabled="disabled" valuer20="FKBasis} + TaW_Blasrohr">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_blasrohr" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-bogen sheet-default-hide" type="checkbox" namer20="attr_talent_bogen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Bogen</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−3</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_bogen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_bogen" disabled="disabled" valuer20="FKBasis} + TaW_Bogen">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_bogen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-diskus sheet-default-hide" type="checkbox" namer20="attr_talent_diskus" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Diskus</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_diskus">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_diskus" disabled="disabled" valuer20="FKBasis} + TaW_Diskus">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_diskus" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-basistalent sheet-default-hide" type="checkbox" namer20="attr_talent_basistalent" valuer20="1" checked>
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Dolche</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−1</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_dolche">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_dolche">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_dolche">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_dolche" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-fechtwaffen sheet-default-hide" type="checkbox" namer20="attr_talent_fechtwaffen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Fechtwaffen</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−1</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_fechtwaffen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_fechtwaffen">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_fechtwaffen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_fechtwaffen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-basistalent sheet-default-hide" type="checkbox" namer20="attr_talent_basistalent" valuer20="1" checked>
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Hiebwaffen</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−4</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_hiebwaffen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_hiebwaffen">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_hiebwaffen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_hiebwaffen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-infanteriewaffen sheet-default-hide" type="checkbox" namer20="attr_talent_infanteriewaffen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Infanteriewaffen</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−3</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_infanteriewaffen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_infanteriewaffen">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_infanteriewaffen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_infanteriewaffen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-kettenstabe sheet-default-hide" type="checkbox" namer20="attr_talent_kettenstabe" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Kettenstäbe</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−1</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_kettenstabe">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_kettenstabe">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_kettenstabe">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_kettenstabe" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-kettenwaffen sheet-default-hide" type="checkbox" namer20="attr_talent_kettenwaffen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Kettenwaffen</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−3</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_kettenwaffen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_kettenwaffen">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_kettenwaffen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_kettenwaffen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-lanzenreiten sheet-default-hide" type="checkbox" namer20="attr_talent_lanzenreiten" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Lanzenreiten</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">-</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_lanzenreiten">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_lanzenreiten">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_lanzenreiten">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_lanzenreiten" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-peitsche sheet-default-hide" type="checkbox" namer20="attr_talent_peitsche" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Peitsche</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−1</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_peitsche">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_peitsche" disabled="disabled" valuer20="ATbasis} + TaW_peitsche">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_peitsche" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-basistalent sheet-default-hide" type="checkbox" namer20="attr_talent_basistalent" valuer20="1" checked>
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Raufen</div>
				<div class="sheet-talent-cell sheet-talent-stf">C</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_raufen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_raufen">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_raufen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_raufen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-basistalent sheet-default-hide" type="checkbox" namer20="attr_talent_basistalent" valuer20="1" checked>
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Ringen</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_ringen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_ringen">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_ringen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_ringen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-basistalent sheet-default-hide" type="checkbox" namer20="attr_talent_basistalent" valuer20="1" checked>
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Säbel</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_sabel">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_sabel">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_sabel">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_sabel" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-schleuder sheet-default-hide" type="checkbox" namer20="attr_talent_schleuder" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Schleuder</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schleuder">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_schleuder" disabled="disabled" valuer20="FKBasis} + TaW_schleuder">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schleuder" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-schwerter sheet-default-hide" type="checkbox" namer20="attr_talent_schwerter" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Schwerter</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schwerter">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_schwerter">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_schwerter">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schwerter" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-speere sheet-default-hide" type="checkbox" namer20="attr_talent_speere" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Speere</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−3</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_speere">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_speere">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_speere">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_speere" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-stabe sheet-default-hide" type="checkbox" namer20="attr_talent_stabe" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Stäbe</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_stabe">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_stabe">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_stabe">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_stabe" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-wurfbeile sheet-default-hide" type="checkbox" namer20="attr_talent_wurfbeile" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Wurfbeile</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_wurfbeile">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_wurfbeile" disabled="disabled" valuer20="FKBasis} + TaW_wurfbeile">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_wurfbeile" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-basistalent sheet-default-hide" type="checkbox" namer20="attr_talent_basistalent" valuer20="1" checked>
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Wurfmesser</div>
				<div class="sheet-talent-cell sheet-talent-stf">C</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−3</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_wurfmesser">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_wurfmesser" disabled="disabled" valuer20="FKBasis} + TaW_wurfmesser">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_wurfmesser" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-wurfspeere sheet-default-hide" type="checkbox" namer20="attr_talent_wurfspeere" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Wurfspeere</div>
				<div class="sheet-talent-cell sheet-talent-stf">C</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_wurfspeere">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_wurfspeere" disabled="disabled" valuer20="FKBasis} + TaW_wurfspeere">
				<input type="text" class="sheet-talent-pa" disabled="disabled" valuer20="-">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_wurfspeere" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-zweihandflegel sheet-default-hide" type="checkbox" namer20="attr_talent_zweihandflegel" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Zweihandflegel</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−3</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zweihandflegel">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_zweihandflegel">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_zweihandflegel">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zweihandflegel" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-zweihandhiebwaffen sheet-default-hide" type="checkbox" namer20="attr_talent_zweihandhiebwaffen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Zweihand-Hiebwaffen</div>
				<div class="sheet-talent-cell sheet-talent-stf">D</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−3</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zweihand-hiebwaffen">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_zweihand-hiebwaffen">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_zweihand-hiebwaffen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zweihand-hiebwaffen" min="-4" valuer20="0">
				<br>
			</div>
			<input class="sheet-talent-zweihandschwerter sheet-default-hide" type="checkbox" namer20="attr_talent_zweihandschwerter" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name">Zweihandschwerter/-säbel</div>
				<div class="sheet-talent-cell sheet-talent-stf">E</div>
				<div class="sheet-talent-cell sheet-talent-ebe">BE−2</div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zweihandschwerter">
				<input type="number" class="sheet-talent-at" namer20="attr_AT_zweihandschwerter">
				<input type="number" class="sheet-talent-pa" namer20="attr_PA_zweihandschwerter">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zweihandschwerter" min="-4" valuer20="0">
				<br>
			</div>
		</div>
		<br>

		<div align="left">
			<div align="left" style="font-weight:bold; display:inline-block; width:9em;">Aktivierung</div>
			<label class="sheet-desc-show">
				<input type="checkbox" class="sheet-desc-show" valuer20="1">
				<span></span>
				<div class="sheet-desc sheet-activation-items">
					<table style="width:100%">
						<tr>
							<td valign="top">
								<label><input type="checkbox" namer20="attr_talent_anderthalbhander" valuer20="1">Anderthalbhänder</label>
								<label><input type="checkbox" namer20="attr_talent_armbrust" valuer20="1">Armbrust</label>
								<label><input type="checkbox" namer20="attr_talent_belagerungswaffen" valuer20="1">Belagerungswaffen</label>
								<label><input type="checkbox" namer20="attr_talent_blasrohr" valuer20="1">Blasrohr</label>
								<label><input type="checkbox" namer20="attr_talent_bogen" valuer20="1">Bogen</label>
								<label><input type="checkbox" namer20="attr_talent_diskus" valuer20="1">Diskus</label>
								<label><input type="checkbox" namer20="attr_talent_fechtwaffen" valuer20="1">Fechtwaffen</label>
								<label><input type="checkbox" namer20="attr_talent_infanteriewaffen" valuer20="1">Infanteriewaffen</label>
								<label><input type="checkbox" namer20="attr_talent_kettenstabe" valuer20="1">Kettenstäbe</label>
								<label><input type="checkbox" namer20="attr_talent_kettenwaffen" valuer20="1">Kettenwaffen</label>
								<label><input type="checkbox" namer20="attr_talent_lanzenreiten" valuer20="1">Lanzenreiten</label>
							</td>
							<td valign="top">
								<label><input type="checkbox" namer20="attr_talent_peitsche" valuer20="1">Peitsche</label>
								<label><input type="checkbox" namer20="attr_talent_schleuder" valuer20="1">Schleuder</label>
								<label><input type="checkbox" namer20="attr_talent_schwerter" valuer20="1">Schwerter</label>
								<label><input type="checkbox" namer20="attr_talent_speere" valuer20="1">Speere</label>
								<label><input type="checkbox" namer20="attr_talent_stabe" valuer20="1">Stäbe</label>
								<label><input type="checkbox" namer20="attr_talent_wurfbeile" valuer20="1">Wurfbeile</label>
								<label><input type="checkbox" namer20="attr_talent_wurfspeere" valuer20="1">Wurfspeere</label>
								<label><input type="checkbox" namer20="attr_talent_zweihandflegel" valuer20="1">Zweihandflegel</label>
								<label><input type="checkbox" namer20="attr_talent_zweihandhiebwaffen" valuer20="1">Zweihand-Hiebwaffen</label>
								<label><input type="checkbox" namer20="attr_talent_zweihandschwerter" valuer20="1">Zweihandschwerter/-säbel</label>
								<label><input type="checkbox" class="sheet-invisible"></label>
							</td>
						</tr>
					</table>
				</div>
			</label>
		</div>
	</div>