<div class="sheet-section sheet-section-Talente">
	{{!-- Sheet Tab Navigation --}}
	<nav class="talents-tabs tabs" data-group="talents">
		<a class="item" data-tab="talents-combat">Kampf</a>
		<a class="item" data-tab="talents-physical">Körper</a>
		<a class="item" data-tab="talents-social">Gesellschaft</a>
		<a class="item" data-tab="talents-nature">Natur</a>
		<a class="item" data-tab="talents-knowledge">Wissen</a>
		<a class="item" data-tab="talents-language">Sprachen</a>
		<a class="item" data-tab="talents-crafting">Handwerk</a>
		<a class="item" data-tab="talents-gifts">Gaben</a>
		<a class="item" data-tab="talents-meta">Meta</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="talents-body">
		{{!-- talents combat Tab --}}
		<div class="tab active" data-group="talents" data-tab="talents-combat">
			{{> "systems/dsa41/templates/partials/talents-combat-tab.html"}}
		</div>

		{{!-- talents-physical Tab --}}
		<div class="tab talents-physical" data-group="talents" data-tab="talents-physical">
			{{> "systems/dsa41/templates/partials/talents-physical-tab.html"}}
		</div>

		{{!-- talents-social Tab --}}
		<div class="tab talents-social" data-group="talents" data-tab="talents-social">
			{{> "systems/dsa41/templates/partials/talents-social-tab.html"}}
		</div>
		
		{{!-- skills Tab --}}
		<div class="tab talents-nature" data-group="talents" data-tab="talents-nature">
			{{> "systems/dsa41/templates/partials/talents-nature-tab.html"}}
		</div>
		
		{{!-- talents-knowledge Tab --}}
		<div class="tab talents-knowledge" data-group="talents" data-tab="talents-knowledge">
			{{> "systems/dsa41/templates/partials/talents-knowledge-tab.html"}}
		</div>
		
		{{!-- talents-language Tab --}}
		<div class="tab talents-language" data-group="talents" data-tab="talents-language">
			{{> "systems/dsa41/templates/partials/talents-language-tab.html"}}
		</div>
		
		{{!-- talents-crafting Tab --}}
		<div class="tab talents-crafting" data-group="talents" data-tab="talents-crafting">
			{{> "systems/dsa41/templates/partials/talents-crafting-tab.html"}}
		</div>
		
		{{!-- talents-gifts Tab --}}
		<div class="tab talents-gifts" data-group="talents" data-tab="talents-gifts">
			{{> "systems/dsa41/templates/partials/talents-gifts-tab.html"}}
		</div>
		
		{{!-- talents-meta Tab --}}
		<div class="tab talents-meta" data-group="talents" data-tab="talents-meta">
			{{> "systems/dsa41/templates/partials/talents-meta-tab.html"}}
		</div>

	</section>

	<br>
	<br>
	<table align="center">
		<tr>
			<th>MU: <input type="text" class="sheet-stat-immutable" namer20="attr_MU" readonly="readonly" valuer20="0"></th>
			<th>KL: <input type="text" class="sheet-stat-immutable" namer20="attr_KL" readonly="readonly" valuer20="0"></th>
			<th>IN: <input type="text" class="sheet-stat-immutable" namer20="attr_IN" readonly="readonly" valuer20="0"></th>
			<th>CH: <input type="text" class="sheet-stat-immutable" namer20="attr_CH" readonly="readonly" valuer20="0"></th>
			<th>FF: <input type="text" class="sheet-stat-immutable" namer20="attr_FF" readonly="readonly" valuer20="0"></th>
			<th>GE: <input type="text" class="sheet-stat-immutable" namer20="attr_GE" readonly="readonly" valuer20="0"></th>
			<th>KO: <input type="text" class="sheet-stat-immutable" namer20="attr_KO" readonly="readonly" valuer20="0"></th>
			<th>KK: <input type="text" class="sheet-stat-immutable" namer20="attr_KK" readonly="readonly" valuer20="0"></th>
			<th>BE: <input type="text" class="sheet-stat-immutable" namer20="attr_BE_TaW" disabled="disabled" valuer20="(Ges_BE} + BE_Last)"></th>
		</tr>
	</table>
	<br>





















</div>