<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-maindiv"> 
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="general">Allgemein</a>
            <a class="item" data-tab="attributes">Eigenschaften</a>
            <a class="item" data-tab="skills">Fähigkeiten</a>
            <a class="item" data-tab="talents">Talente</a>
            <a class="item" data-tab="combat">Kampf</a>
            <a class="item" data-tab="inventory">Inventar</a>
            <a class="item" data-tab="karmal">Karma</a>
            <a class="item" data-tab="magic">Magie</a>
            <a class="item" data-tab="notes">Notizen</a>
        </nav>
    
        {{!-- Sheet Body --}}
        <section class="sheet-body">
    
            {{!-- General Tab --}}
            <div class="tab active" data-group="primary" data-tab="general">
                {{> "systems/dsa41/templates/partials/general-tab.html"}}
            </div>

            {{!-- attributes Tab --}}
            <div class="tab attributes" data-group="primary" data-tab="attributes">
                {{> "systems/dsa41/templates/partials/attributes-tab.html"}}
            </div>

            {{!-- talents Tab --}}
            <div class="tab talents" data-group="primary" data-tab="talents">
                {{> "systems/dsa41/templates/partials/talents-tab.html"}}
            </div>
            
            {{!-- skills Tab --}}
            <div class="tab skills" data-group="primary" data-tab="skills">
                {{> "systems/dsa41/templates/partials/skills-tab.html"}}
            </div>
            
            {{!-- combat Tab --}}
            <div class="tab combat" data-group="primary" data-tab="combat">
                {{> "systems/dsa41/templates/partials/combat-tab.html"}}
            </div>
            
            {{!-- inventory Tab --}}
            <div class="tab inventory" data-group="primary" data-tab="inventory">
                {{> "systems/dsa41/templates/partials/inventory-tab.html"}}
            </div>
            
            {{!-- karmal Tab --}}
            <div class="tab karmal" data-group="primary" data-tab="karmal">
                {{> "systems/dsa41/templates/partials/karmal-tab.html"}}
            </div>
            
            {{!-- magic Tab --}}
            <div class="tab magic" data-group="primary" data-tab="magic">
                {{> "systems/dsa41/templates/partials/magic-tab.html"}}
            </div>
            
            {{!-- notes Tab --}}
            <div class="tab notes" data-group="primary" data-tab="notes">
                {{> "systems/dsa41/templates/partials/notes-tab.html"}}
            </div>
            

        </section>
        </table>
    </div>
</form>
